@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

html {
  scroll-behavior: smooth;
}
.swiper-pagination-bullet {
  background: #fff !important; 
  width: 12px;
  height: 12px;
  opacity: 0.7;
}